<!DOCTYPE HTML>
<html ng-app="chatroom">
  <head>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="mainCtrl">

    <header>
      <section class="container">
        <div class="header-container">
          <img src="https://devmounta.in/img/logowhiteblue.png" alt="DevMountain Logo">
          <h1>| CHAT ROOM</h1>
        </div>
        <div id="hamburger">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </section>
    </header>

    <main>

      <section class="container messages-container">
        <div class="message-container" ng-repeat="message in messages" ng-if="message.text">
          <div class="profilepic"></div>
          <div class="message">
            <p class="timestamp">{{message.createdAt}}</p>
            <p class="text">{{message.text}}</p>
          </div>
        </div>
      </section>

    <main>
    <footer>
      <form class="container input-container" ng-submit="postData()">
        <button id="plus"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <input id="input-box" type="text" ng-model="message" placeholder="Message">
        <button id="smile"><i class="fa fa-smile-o" aria-hidden="true"></i></button>
      </form>
    </footer>

    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="https://use.fontawesome.com/716f5d69e5.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/parseService.js"></script>
    <script src="js/defaultHeaders.js"></script>
  </body>
</html>
